<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="senac.com.br.controledegastos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.NovoGastoActivity"/>
        <activity android:name=".activities.NovoItemActivity"/>
        <activity android:name=".activities.ListaDeGastosActivity"/>
        <activity android:name=".activities.IntroActivity"/>
        <activity android:name=".activities.TutorialActivity"/>
        <activity android:name=".activities.EditarRendaActivity"/>
        <activity android:name=".activities.ListaDeItensActivity"/>

        <receiver android:name=".util.TimeChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name=".activities.AvisoActivity" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.AvisoActivity"
            android:label="@string/title_activity_aviso"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>